.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-control {
    margin: 20px;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #d32f2f;
}



.date-picker-error {
    .MuiOutlinedInput-notchedOutline {
        border-color: #d32f2f;
    }
}

.date-picker-error {
    .MuiFormLabel-root {
        color: #d32f2f;
    }
}

.date-picker-error {
    .MuiSvgIcon-root {
        color: #d32f2f;
    }
}

.date-picker-error {
    .MuiFormHelperText-root {
        color: #d32f2f;
    }
}
/*MuiFormHelperText-root MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-sizeMedium MuiInputLabel-outlined MuiFormLabel-colorPrimary MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-sizeMedium MuiInputLabel-outlined css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root */